---
import Layout from '../layouts/Layout.astro';
import { site } from '../config/site';
---
<Layout title={site.name} description={site.description}>
  <div class="home-page">
    <h1 class="site-title">{site.name}</h1>
    <h2 class="home-about-heading">About</h2>
    <hr class="home-about-divider" />
    <p class="home-description">{site.description}</p>
    <p class="home-cta">
      <a href="/collection/" class="button-primary">View the collection</a>
    </p>
  </div>
</Layout>
